ul.playerdetails_matchlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #999;
    text-align:center;
    list-style-position:inside;
}

li.playerdetails_matchlist_li {
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-top: 4px;
}

/* li.matchlist_li a.matchlist_a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

/* Change the link color to #111 (black) on hover */
li.playerdetails_matchlist_li:hover {
    background-color: #111;
    color: white;
}